# Local .vscode directories
.vscode/

#  Local .terraform directories
**/.terraform/*

# .tfplan files
**/*.tfplan

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfvars files
**/*.tfvars

# TODO: remove below after repo is complete
**/terraform/variables.tf